<form autocomplete="off">
    <div class="form-row">
      <div class="form-group col-md-6 form-inline">
        <label for="inputTask" >Task</label>
        <input type="text" [(ngModel)]="taskNameSearch" 
        class="form-control ml-4 col-sm-10" name="inputTask" placeholder="Search by Task Name">
      </div>
      <div class="form-group col-md-6 form-inline">
        <label for="inputParentTask" >Parent Task</label>
        <input type="text" [(ngModel)]="parentTaskNameSearch"
        class="form-control ml-2 col-sm-9" name="inputParentTask" placeholder="Search by Parent Task Name">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3 form-inline">
        <label for="inputPriorityFrom">Priority From</label>
        <input type="text" [(ngModel)]="priorityFromSearch"
        class="form-control ml-2 col-sm-6" name="inputPriorityFrom">
      </div>
      <div class="form-group col-md-3 form-inline">
        <label for="inputPriorityTo">Priority To</label>
        <input type="text" [(ngModel)]="priorityToSearch"
        class="form-control ml-2 col-sm-6"  name="inputPriorityTo">
      </div>
      <div class="form-group col-md-3 form-inline">
        <label for="startDate">Start Date</label>
        <input type="text" [(ngModel)]="startDateSearch"
        class="form-control ml-2 col-sm-6" name="startDate">
      </div>
      <div class="form-group col-md-3 form-inline">
        <label for="endDate">End Date</label>
        <input type="text" [(ngModel)]="endDateSearch"
        class="form-control ml-2 col-sm-6" name="endDate">
      </div>
    </div>
    <!-- Task List Table-->
    <table class="table table-borderless">
        <thead class="thead-light">
            <th>Task</th>
            <th>Parent</th>
            <th>Priority</th>
            <th>Start</th>
            <th>End</th>
            <th>
                <a class="btn btn-sm btn-success" (click)="EditTask(null,service.formData.taskID)" >Edit</a>
            </th>
            <th></th>
        </thead>
        <tbody>
          <tr *ngIf="taskList.length==0">
            <td class="font-italic text-center " colspan="7" >
              No Task List Available
            </td>
          </tr>
            <tr *ngFor="let task of taskList | taskFilter:taskNameSearch:
            parentTaskNameSearch: priorityFromSearch: priorityToSearch:startDateSearch
            : endDateSearch ;let i=index;">
                <td>{{task.taskName}}</td>
                <td>{{task.parentTask.taskName}}</td>
                <td>{{task.priority}}</td>
                <td>{{task.startDate}}</td>
                <td>{{task.endDate}}</td>
                <td>
                    <a class="btn btn-sm btn-info mb-4 text-white" 
                    (click)="EditTask(i,service.formData.taskID)" >Edit</a>
                    <a class="btn btn-sm btn-success mb-4 ml-1 text-white">End Task</a>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
  </form>