<form>
    <div class="form-row">
      <div class="form-group col-md-6 form-inline">
        <label for="inputTask" >Task</label>
        <input type="text" (keyup)="0" [(ngModel)]="searchString"
        class="form-control ml-4 col-sm-10" id="inputTask" placeholder="Search by Task Name">
      </div>
      <div class="form-group col-md-6 form-inline">
        <label for="inputParentTask" >Parent Task</label>
        <input type="text" class="form-control ml-2 col-sm-9" id="inputParentTask" placeholder="Parent Task 1">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3 form-inline">
        <label for="inputPriorityFrom">Priority From</label>
        <input type="text" class="form-control ml-2 col-sm-6" id="inputPriorityFrom">
      </div>
      <div class="form-group col-md-3 form-inline">
        <label for="inputPriorityTo">Priority To</label>
        <input type="text" class="form-control ml-2 col-sm-6"  id="inputPriorityTo">
      </div>
      <div class="form-group col-md-3 form-inline">
        <label for="startDate">Start Date</label>
        <input type="text" class="form-control ml-2 col-sm-6" id="startDate">
      </div>
      <div class="form-group col-md-3 form-inline">
        <label for="endDate">End Date</label>
        <input type="text" class="form-control ml-2 col-sm-6" id="endDate">
      </div>
    </div>
    <!-- Task List Table-->
    <table class="table table-borderless" 
    *ngFor="let task of service.taskList | taskFilter:searchString ;let i=index;">
        <thead class="thead-light">
            <th>Task</th>
            <th>Parent</th>
            <th>Priority</th>
            <th>Start</th>
            <th>End</th>
            <th>
                <a class="btn btn-sm btn-success" (click)="EditTask(null,service.formData.taskID)" >Edit</a>
            </th>
            <th></th>
        </thead>
        <tbody>
          <tr *ngIf="service.taskList.length==0">
            <td class="font-italic text-center " colspan="7" >
              No Task List Available
            </td>
          </tr>
            <tr>
                <td>{{task.taskName}}</td>
                <td>{{task.parentTask.taskName}}</td>
                <td>{{task.priority}}</td>
                <td>{{task.startDate}}</td>
                <td>{{task.endDate}}</td>
                <td>
                    <a class="btn btn-sm btn-success" (click)="EditTask(i,service.formData.taskID)" >Edit</a>
                    <a class="btn btn-sm btn-success">End Task</a>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
  </form>